* {
    margin: 0;
    padding: 0;
}

/* Общие свойства */

body {
    font-family: sans-serif;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.heading-1 {
    font-size: 64px;
    color: #1F3F68;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.heading-2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading-3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading-4 {
    font-size: 20px;
    line-height: 30px;   
    letter-spacing: 0.05em;    
    color: #1F3F68;
    margin-bottom: 14px;
    text-align: center;
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.9;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* Меню */

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}

/* New Automation Tool For You */

.general-page{
    min-height: 768px;   
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.general-page-small{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.heading-1-div {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(C:/Users/Сергей/VisualStudioProjects/lesson_01/images/top_back.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.heading-1-div-width {
    width: 504px;
}

.top-button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

/* What We Do To Help Our Client Grow In Digital Era */

.what-we-do {
    width: 90%;
    padding-top: 64px;
}

.what-we-do-small {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    width: 359px;
    height: 95%;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card-img{
    align-self: center;
    margin-bottom: 51px;
}

.card-link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.our-finished-projects {
    width: 100%;
    height: 30%;
    text-align: center;
}

.heading-4-project {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    padding-bottom: 32px;
}

.paragraph-project {
    width: 100%;
    color: #222222;
    opacity: 1;
    padding-bottom: 64px;
    text-align: center;
}

.project-parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32;
}

.project-img{
    width: 100%;
}

.project-item {
    position: relative;
    flex-grow: 1;
    margin-bottom: 32px;
}

.project-item-margin {
    margin-right: 32px;
}

.project-text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    position: absolute;
    top: 64px;
    right: 64px;
    color: #FFFFFF;
}

.project-text-second {
    color: #FFFFFF;
    font-size: 28px;
    line-height: 46px;
    text-align: left;
    position: absolute;
    top: 32px;
    left: 32px;
}

/* Нижняя часть сайта */

li {
    display: inline-block;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer {
    background: #316099;
    padding-top: 1%;
    position: relative;
}

.footer-small {
    background: #316099;
    padding-left: 10%;
    padding-right: 10%;
}

.heading-3-footer {
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 32px;
}

.paragraph-footer {
    color: #FFFFFF;
    text-align: left;
}

.top-footer {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF; 
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    padding: 15px 80px;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;

    position: absolute;
    right: 115px;
    top: 165px;
}

.heading-3-div {
    width: 495px;
    margin-top: 93px;
    margin-bottom: 96px;
}

hr {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.rights {
    padding-bottom: 5%;
    letter-spacing: 0.05em;   
    color: #FFFFFF;
    opacity: 0.4;
}

@media screen and (max-width: 1024px) {

    .content { 
        padding-left: 32px;
        padding-right: 32px;
    } 

    .heading-1-div {
        background-position-x: 450px;
        background-position-y: 280px;
        background-size: 45%; 
        min-height: 500px;
    }

    .card {
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }

    .top-footer {
        padding: 10px 20px;
        display: inline-block;
        overflow: hidden;   
        position: absolute;
        right: 124px;
        top: 161px;
    }

    li {
        display: block;
        padding-bottom: 24px;
        padding-right: 0%;
    }

    ol {
        margin-top: 64px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 667px) {

    .menu {
        padding-top: 24px;
    }

    .general-page{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;   
    }

    .heading-1-div {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .heading-1 {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }

    .paragraph {
        width: 100%;
        text-align: center;
    }

    .top-button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .heading-3 {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do-small {
        flex-direction: column;
        padding-top: 48px;
    }

    .card {
        padding-top: 32px;
        width: 100%;
    }

    .paragraph-project {
        width: 100%;
    }

    .our-finished-projects {
        width: 90%;
    }

    .project-text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project-text-second {
        font-size: 16px;
        line-height: 19px;
        left: 16px;
    }

    .project-parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project-item-margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer {
        flex-direction: column;
    }

    .footer-small {
        padding-left: 5%;
        padding-right: 5%;
    }

    .heading-3-div {
        margin-top: 18px;
        margin-bottom: 41px;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .heading-3 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 32px;
        text-align: center;
    }

    .paragraph-footer {
        text-align: center;
        margin-bottom: 40px;
    }

    .top-footer {
        padding: 10px 20px;    
        position: relative;
        right: 0px;
        top: 0px;
    }

    ol {
        margin-top: 32px;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
    }

    li {
        margin-bottom: 18px;
    }

    .rights {
        text-align: center;
    }
}